.carousel .carousel-inner .carousel-item img{
	max-width: 100%;
}

.carousel-control-icon{
	color: #D7D7D7;
	opacity: 0.3;
	font-size: 7vh;
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .carousel-item{
    align-items: center;

}

