html,
body{
	height: 100%;
	background-color: #34426E;
}

.distance-box{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.distance{
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.box-white{
	background-color: white;
}

.on-screen{
	min-height: 59%;
}

.primary-color{
	color: #34426E !important;
}




.image-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}

.services .card-block{
	padding: 1rem;
	align-items: center;
}

.services .card-fill{
	background: white;
	border-radius: 1rem;
	padding: 1rem;

}

.services .card-header{
	padding-bottom: 0 !important;
	border-bottom: none;
}

.services .card{
	border-style: none;
}

.services img{
	max-width: 100%;
	height: 11rem; 
	display: block;
	margin: auto;
}

.transparent{
	background-color: transparent !important;
}

.text-white{
	color: white !important;
}

.vertical-centered{
	padding:  8% 1.5rem;
}

.text-center-justified{
	text-align: justify;
	text-align-last: center;
}

.box-radius-1{
	border-radius: 1rem; 
}

.product{
	padding: 1rem;
	height: 15rem;
	 display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-image img {
	max-height: 10rem !important;

}

.product-name{
	position: absolute;
	bottom: 0rem;
	right: 0;
	left: 0;
}

.center-block{
	display: block !important;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}


.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 97% 40%;
   height: 3rem;
   overflow: hidden;
   width: auto;
   max-width: 30rem;
   border-bottom: 1px solid white;
   border-bottom-right-radius: 1rem;
   border-bottom-left-radius: 0.2rem;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 1.7rem;
   height: 3rem;
   padding: 0; 
   width: 105%;
   color: white;
}


.styled-select select option{
	color: black;
}

.product-description {
    padding-top: 7rem;
}

.product-description .row {
    margin: 0 !important;
}

.product-description .row #visor {
    float: none;
    height:64%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #888888;
}


.tile {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform .5s ease-out;
}

.txt {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 10%;
    left: 0;
    font-family: 'Roboto Slab', serif;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    cursor: default;
}

.x {
    font-size: 32px;
    line-height: 32px;
}

.miniatura {
    margin-top: 1rem;
    height: 5rem;
    border: 1px solid #E8E8E8;
    width: 70%;
    display: block;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    align-items: center;
}

.miniatura_img {
    max-height: 5rem;
    max-width: 5rem;
    display: inline;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


.product-name {
    margin-top: 2rem;
    line-height: normal;
    color: #333333;
    font-size: 2.7rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.sku{
    color: #656565;
    text-align: left;
    font-size: 1.2rem;
    opacity: .75;
}
.prices {
    text-align: left;
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2.3rem;
}
.quantity {
    color: #656565;
    font-size: 1rem;
    text-align: left;
}

.title a {
     font-size: 18px !important;
    padding-right: 18px;
    position: relative;
    display: block;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    cursor: pointer;
}